# Use kubectl apply -f ... to deploy secret (DO NOT ADD IT INTO ANY REPOSITORY)
apiVersion: v1
kind: Secret
metadata:
  name: eso-secret
  namespace: infra
type: Opaque
stringData:
  fingerprint: ""
  privatekey: |
      -----BEGIN PRIVATE KEY-----
      -----END PRIVATE KEY-----